<div class="match-page">
  <form (ngSubmit)="onSubmit()" #submitMatchForm="ngForm">

    <div class="row m-top-lg">
      <div class="col-xs-12">
        <matched-players></matched-players>
      </div>
    </div>

    <div class="row m-top-lg" *ngFor="#set of [0,1,2]">
      <div class="col-xs-5">
        <div class="form-group">
          <input type="number" id="setOnePlayerOne" class="form-control" required
                 [(ngModel)]="match.getOpponent(0).getSet(set).score" (change)="setScoreUpdated(set)">
        </div>
      </div>

      <div class="col-xs-2">
        {{set + 1}}
      </div>

      <div class="col-xs-5">
        <div class="form-group">
          <input type="number" id="setOnePlayerTwo" class="form-control" required
                 [(ngModel)]="match.getOpponent(1).getSet(set).score" (change)="setScoreUpdated(set)">
        </div>
      </div>
    </div>

    <div class="row m-top-lg">
      <div class="col-xs-5">
        <div class="form-group">
          {{playerOneWins}}
        </div>
      </div>

      <div class="col-xs-2">
        WINS
      </div>

      <div class="col-xs-5">
        <div class="form-group">
          {{playerTwoWins}}
        </div>
      </div>
    </div>

    <button type="submit" class="button"
            [disabled]="!isMatchFinished">Lodge Score
    </button>

  </form>
</div>
