<div class="leaderboard">

  <h2>Leaderboard</h2>

  <table class="scoreboard">

    <thead>
    <tr>
      <th class="cell"></th>
      <th class="column-heading" align="center" colspan="2">
        <table>
          <tr>
            <td colspan="2" align="center">POINTS</td>
          </tr>
          <tr>
            <td align="center">Won</td>
            <td align="center">Lost</td>
          </tr>
        </table>
      </th>
      <th class="column-heading" colspan="2">
        <table>
          <tr>
            <td colspan="2" align="center">SETS</td>
          </tr>
          <tr>
            <td align="center">Won</td>
            <td align="center">Lost</td>
          </tr>
        </table>
      </th>
      <th class="column-heading" colspan="2">
        <table>
          <tr>
            <td colspan="2" align="center">MATCH</td>
          </tr>
          <tr>
            <td align="center">Won</td>
            <td align="center">Lost</td>
          </tr>
        </table>
      </th>
      <table>
        <tr>
          <td align="center">&nbsp;</td>
        </tr>
        <tr>
          <td align="center">%</td>
        </tr>
      </table>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="#player of players; #index = index">
      <td>
        <div class="cell-name">
          #{{index + 1}} {{player.name}}
        </div>
      </td>
      <td>
        <div class="cell-games">
          {{player.playerStats.pointsFor}}
        </div>
      </td>
      <td>
        <div class="cell-games">
          {{player.playerStats.pointsAgainst}}
        </div>
      </td>
      <td>
        <div class="cell-sets">
          {{player.playerStats.setsWon}}
        </div>
      </td>
      <td>
        <div class="cell-sets">
          {{player.playerStats.setsLost}}
        </div>
      </td>
      <td>
        <div class="cell-match">
          {{player.playerStats.matchWon}}
        </div>
      </td>
      <td>
        <div class="cell-match">
          {{player.playerStats.matchLost}}
        </div>
      </td>
      <td>
        <div class="cell-total">
          {{(player.playerStats.matchWon / (player.playerStats.matchWon + player.playerStats.matchLost)) || 0 |
          percent:'.2-2'}}
        </div>
      </td>
    </tr>
    </tbody>
  </table>

</div>
