<div class="leaderboard container">
  <div class="row">

    <h1>Leaderboard</h1>

    <table>
      <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th>Win</th>
        <th>Loss</th>
        <th>Forfeit</th>
        <th>Total</th>
        <th>For</th>
        <th>Against</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="#player of players; #index = index">
        <td>{{index + 1}}</td>
        <td class="player-icon"></td>
        <td>{{player.name}}</td>
        <td>{{player.playerStats.win}}</td>
        <td>{{player.playerStats.loss}}</td>
        <td>{{player.playerStats.forfeit}}</td>
        <td>INSERT TOTAL</td>
        <td>{{player.playerStats.for}}</td>
        <td>{{player.playerStats.against}}</td>
      </tr>
      </tbody>
    </table>

    <button class="button">Show all</button>

  </div>

</div>
