.banner {
  width: 300px;
  height: 100px;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  padding: 20px;

  .upper,
  .lower {
    display: block;
  }

  .upper {
    font-size: 16px
  }

  .lower {
    font-size: 48px
  }
}
