.banner {
  width: rem(300);
  height: rem(100);
  background-color: color(black-1);
  color: color(white-1);
  text-transform: uppercase;
  text-align: center;
  margin: rem(20) auto;
  padding: rem(20);

  h1 {
    margin: 0;

    .upper,
    .lower {
      display: block;
    }

    .upper {
      font-size: rem(16)
    }

    .lower {
      font-size: rem(48)
    }
  }

}
