$colors: (
  white-1: #fff,
  black-1: #000,
  grey-1: #bbb,
  grey-2: #e5e5e5,
  grey-3: #49484A,
  green-1: #7bb593,
  red-1: #C8473A,
  red-2: #a94442,
  maroon-1: #6D000F,
  orange-1: #FF9A00
);

@function color($color) {
  @return map-get($colors, $color);
}

$color-background-default: color(white-1);
$color-text-body-primary: color(black-1);
$color-text-body-secondary: color(grey-3);

$color-valid: color(green-1);
$color-invalid: color(red-2);
