@font-face {
  font-family: 'arcadeAlaPokemon';
  src: url('/public/assets/fonts/04B_30__.TTF') format('ttf');
}

@font-face {
  font-family: 'arcadeClassic';
  src: url('/public/assets/fonts/ARCADECLASSIC.TTF') format('ttf');
}
