@font-face {
  font-family: 'arcadeAlaPokemon';
  src: url('/assets/fonts/ARCADECLASSIC.TTF') format('ttf');
}

@font-face {
  font-family: 'arcadeClassic';
  src: url('/assets/fonts/ARCADECLASSIC.TTF') format('ttf');
}
