@font-face {
  font-family: 'arcadeAlaPokemon';
  src: url('assets/fonts/04B_30__.ttf') format('ttf');
}

@font-face {
  font-family: 'arcadeClassic';
  src: url('assets/fonts/ARCADECLASSIC.ttf') format('ttf');
}
