$font-family-arcade-ala-pokemon: 'arcadeAlaPokemon';
$font-family-arcade-classic: 'arcadeClassic';

p, li, td {
  font-size: rem($default-font-size-text);
  line-height: rem($default-line-height);
}

h2 {
  margin: 0;
  font-family: $default-font-family;
  font-size: rem(42);
  font-style: inherit;
  font-weight: inherit;
  line-height: rem(45);
  text-align: center;
}

.valid-text {
  color: color(green-1);
}

.invalid-text {
  color: color(red-1);
}
