$default-font-size-base: 16;
$default-font-size-text: 18;
$default-line-height: 24;
$default-font-family: 'Arial';

$default-color-highlight: rgba(0, 0, 0, 0);

$screen-xs-max-width: 767;
$screen-sm-min-width: 768;
$screen-md-min-width: 992;
$screen-lg-min-width: 1200;
