.select-players {
  .player {
    width: rem(120);
    margin: 0 auto;
    text-align: center;
    cursor: pointer;

    .player-icon {
      @extend %player-icon;
    }

    .player-name {
      font-size: rem(16);
      margin: rem(10) 0;
      text-transform: uppercase;
    }
  }
}
