.player-icon {
  width: rem(60);
  height: rem(60);
  display: inline-block;
  margin: auto rem(5);
  border-radius: 50%;
  border: 1px solid color(grey-1);
}

.player-name {
  font-size: rem(16);
  margin: rem(10) 0;
  text-align: left;
}
