<div class="matched-players">

  <div [ngSwitch]="" class="player m-right-lg">
    <span *ngSwitchWhen=match.players[0]>
      <div class="player-icon unselected"></div>
    </span>
    <span *ngSwitchDefault>
      <div class="player-icon"></div>
      <p class="player-name">
        {{match.players[0].name}}
      </p>
    </span>
  </div>

    <div class="versus">
      <p>
        VS
      </p>
    </div>

  <div [ngSwitch]="" class="player m-left-lg">
    <span *ngSwitchWhen=match.players[1]>
      <div class="player-icon unselected"></div>
    </span>
    <span *ngSwitchDefault>
      <div class="player-icon"></div>
      <p class="player-name">
        {{match.players[1].name}}
      </p>
    </span>
  </div>

</div>
