<div class="match-page">
  <form (ngSubmit)="onSubmit()" #submitMatchForm="ngForm">

    <div class="row m-top-lg">
      <div class="col-xs-12">
        <matched-players></matched-players>
      </div>
    </div>

    <div class="m-top-lg row" *ngFor="#set of [0,1,2]">
      <div class="score-enter-row">
        <div class="enter-score col-xs-4 col-sm-5">
          <div class="form-group">
            <input type="number" id="setOnePlayerOne" class="form-control" required
                   [(ngModel)]="match.getOpponent(0).getSet(set).score" (change)="setScoreUpdated(set)">
          </div>
        </div>

        <div class="set-number-display col-xs-4 col-sm-2">
          <div class="set-number-background">
            <div class="set-number p-top-md">
              {{set + 1}}
            </div>
          </div>
        </div>

        <div class="enter-score col-xs-4 col-sm-5">
          <div class="form-group">
            <input type="number" id="setOnePlayerTwo" class="form-control" required
                   [(ngModel)]="match.getOpponent(1).getSet(set).score" (change)="setScoreUpdated(set)">
          </div>
        </div>
      </div>
    </div>

    <div class="p-top-lg">
      <div class="row m-top-lg">
        <div class="col-xs-4 col-sm-5">
          <div class="form-group">
            {{playerOneWins}}
          </div>
        </div>

        <div class="col-xs-4 col-sm-2">
          <div class="wins-alignment">
            WINS
          </div>
        </div>

        <div class="col-xs-4 col-sm-5">
          <div class="form-group">
            {{playerTwoWins}}
          </div>
        </div>
      </div>

      <div class="p-top-lg">
        <button type="submit" class="button"
                [disabled]="!isMatchFinished">Lodge Score
        </button>
      </div>
    </div>
  </form>
</div>
